

#header { background-color: lightpink;
}
h2 {font-family: fantasy;
    font-size: 50px;
 }
#header1 {background-color: rgb(243, 142, 193)}
#middle {background-color: hotpink;
}
#middle2 {background-color: rgb(238, 59, 193);}

#end {background-color: rgb(240, 39, 180)}